<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="3;url=/Product/Index">
    <title>Product Added</title>
</head>
<body>
    <h2>Product Has Been Added</h2>
    <p>You will be redirected to the Product list page in 3 seconds...</p>
    <a asp-action="Index" asp-controller="Product">click here to go to products page</a>
</body>
</html>
