@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* @model Product *@
@model Shop.Models.Entities.Product

@{
    ViewData["Title"] = "Edit Product";
}

@{
    var message = TempData["Message"];
}

<h1>Edit Product</h1>

@if (message is not null)
{
    <p style="background-color: #ffcccc; color: #000; padding: 10px; border-radius: 5px;">
        @message
    </p>
}

@if(Model is null)
{
    <h1>No product found for this product id.</h1>
}
else
{
    <form method="post">
        <div class="form-group mt-3">
            <label asp-for="Id">Id:</label>
            <input asp-for="Id" class="form-control" readonly required />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="ProductId">ProductId:</label>
            <input asp-for="ProductId" class="form-control" required />
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Category">Category:</label>
            <input asp-for="Category" class="form-control" required />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Price">Price:</label>
            <input asp-for="Price" class="form-control" required />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Quantity">Quantity:</label>
            <input asp-for="Quantity" class="form-control" required />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="SKU">Stock Keeping Unit:</label>
            <input asp-for="SKU" class="form-control" required />
            <span asp-validation-for="SKU" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Description">Description:</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        
        <div class="form-group mt-3">
            <label asp-for="Image">Image:</label>
            <input type="file" asp-for="Image" class="form-control-file" accept="image/*" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Update Product</button>
        <button type="submit" class="btn btn-danger mt-3" asp-action="DeletePost" asp-controller="Product">Delete Product</button>
    </form>
}